/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.cursor {
  cursor: default;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
.class_body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 16.42px;
}
.visible {
  visibility: visible;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 150px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #b1663c;
  padding-right: 60px;
}
span {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
}

.En_Tete {
  align-items: center;
  gap: 10px;
  height: 59px;
  background-color: black;
  justify-content: center;
}

.modifier p {
  margin-top: 10px;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.modifier {
  text-align: center;
  gap: 50px;
  margin-bottom: 70px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  gap: 5%;
  padding-left: 5.5%;
}

#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 87.6%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
  font-family: Syne;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

#introduction p {
  margin-bottom: 0.5em;
  width: 80%;
  font-family: Work Sans;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#portfolio .Filtres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.8%;
  padding-bottom: 50px;
  padding-top: 30px;
  width: 60%;
}

.actif {
  color: #ffffff;
  background-color: #1d6154;
}
.inactif {
  color: #1d6154;
  background-color: #ffffff;
}
.Filtres button {
  padding-left: 3.2%;
  padding-right: 3.2%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-family: Syne;
  font-size: 16px;
  font-weight: 700;
  border-radius: 60px;
  border-color: #1d6154;
  border-width: 1px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 83.5%;

  grid-row-gap: 1%;
  grid-column-gap: 2%;
}

figure img {
  width: 100%;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio.off {
  display: none;
}

.off {
  display: none;
}
.on {
  display: flex;
}

#introduction.off {
  display: none;
}

.mainClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 300px;
  width: 33.3%;
}

.mainClass input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
}
.mainClass > * {
  text-align: center;
}

.mainClass h2 {
  margin-bottom: 20px;
}
.mainClass form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.mainClass label {
  margin: 2em 0 1em 0;
}
.mainClass p {
  text-align: center;
  text-decoration: underline;
}

.login {
  font-weight: bold;
}
.mainClass section {
  margin: 0;
}

.newmodalbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divAjoutPhoto {
  display: flex;
  width: 420px;
  height: 169px;
  position: relative;
  background-color: #e8f1f6;
  border-radius: 3px;
  justify-content: center;
}

.modalbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newmodalbody #title,
.newmodalbody select {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 420px;
  height: 51px;
  background-color: #ffffff;
}

.btn_login {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
}

.newmodalbody form {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}

.divAjoutPhoto .picture {
  position: absolute;
  top: 10px;
  left: 172px;
}
#formModal .btnsubmit {
  font-family: Syne;
  font-size: 14px;
  font-weight: 700;
  border: 0px;
  text-align: center;
  width: 237px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 60px;
  background-color: #1d6154;
  color: #ffffff;
  margin: auto;
  margin-top: 25px;
}

.divAjoutPhoto .btn_Ajoutphoto {
  position: absolute;
  top: 65px;
  left: 123.5px;
  text-align: center;
}

#displayphoto {
  width: 129px;
  height: 169px;
}

.formModal {
  display: flex;
  flex-direction: column;
}
.divAjoutPhoto .txt {
  position: absolute;
  top: 135px;
  left: 163.25px;
}
.txt {
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}

.btn_Ajoutphoto {
  padding-top: 10px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  font-family: Work Sans;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #306685;
  width: 173px;
  height: 26px;
  background-color: #cbd6dc;
  border-radius: 50px;
}
.input-file {
  display: none;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
.fleche_modal {
  position: relative;
  top: 30px;
  right: 280px;
}

.photo_size {
  position: relative;
  width: 76.86px;
  height: 102.57px;
}
.photo_size .image {
  width: 100%;
}

.photo_size .icone {
  position: absolute;
  top: 5px;
  right: 3px;
  border-radius: 2px;
}
.ajoutphoto {
  width: 420px;
  margin: auto;
  position: relative;
}

.position1 {
  position: absolute;
  top: 10px;
  left: 172px;
}
.position2 {
  position: absolute;
  top: 95px;
  left: 123.5px;
}
.position3 {
  position: absolute;
  top: 140px;
  left: 162.5px;
}
#title,
option,
option[value] {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.newmodalbody label {
  margin: 2em 0 1em 0;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.formModal {
  position: relative;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3210px;
  padding-top: 700px;
  background-color: #0000004d;
}

.Boutonsubmit_modal {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: 0;
  margin-top: 30px;
  text-align: center;
  border-radius: 60px;
}

.bordure {
  width: 420px;
  border: 1px solid#B3B3B3;
  margin-bottom: 5px;
  margin-top: 50px;
}
.new_bordure {
  width: 420px;
  border: 1px solid#B3B3B3;
  margin-bottom: 5px;
  margin-top: 20px;
}

.newmodalbody .category {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 420px;
  height: 51px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.modal_close {
  position: relative;
  top: 30px;
  left: 270px;
}

.modal_content {
  margin-left: auto;
  margin-right: auto;
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background-color: #ffffff;
}

.galleryModal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  grid-row-gap: 20px;
  width: 420px;
}

.gallery .inactive {
  display: none;
}

.alert {
  margin-top: 20px;
  text-align: center;
  font-family: "Syne";
  font-weight: 700;
  font-size: 20px;
  color: red;
}

.message {
  padding-top: 40px;
  text-align: center;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: red;
}
.messageSuccès{
  padding-top: 40px;
  text-align: center;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1D6154;
}
.boutonModal {
  text-decoration: none;
  color: #000000;
  height: 18px;
  display: flex;
  cursor: default;
  gap: 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  margin: auto;
  align-items: center;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
  font-family: Work Sans;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"],
.mainClass input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
#formModal .btnValider {
  font-family: Syne;
  font-size: 14px;
  font-weight: 700;
  border: 0px;
  text-align: center;
  width: 237px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 60px;
  background-color: #a7a7a7;
  color: #ffffff;
  margin: auto;
  margin-top: 25px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
